$panel-width: 300px;
$color: #EBEBEB;
$input-field-bg-color: #2D2D2D;
$input-field-border: 1px solid #212121;
$input-field-border-radius: 4px;
$input-font-size: 14px;
$panel-bg-color: #404040;
$panel-border-color: #2F2F2F;
$panel-border: 1px solid $panel-border-color;
$main-area-bg-color: #383838;